.painelModal.invisivel {
    display: none;
}

.painelModal form input{
    display: block;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #CCC;
}

.painelModal .modal{
    text-align: center;
    background: #FFF;
    position: absolute;
    z-index: 500;
    width: 90%;
    top: 80px;
    left: 5%;
    padding-bottom: 20px;
    border-radius: 10px;
}

.painelModal .fundoModal{
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
}

.painelModal .btnSalvar{
    padding: 10px 25px;
    border: none;
    background: #4CAF50;
    color: #FFF;
    border-radius: 5px;
    margin-left: 20px;
}

.painelModal .btnCancelar{
    padding: 10px 25px;
    border: none;
    background: #616161;
    color: #FFF;
    border-radius: 5px;
    margin-right: 20px;
}